VITE_SUPABASE_URL=https://xoksgjrzxinaeejugkca.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhva3NnanJ6eGluYWVlanVna2NhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNDkzNjQsImV4cCI6MjA5MTgyNTM2NH0.h1AHhWrb9gmelQrccLdmUl63_t9R3nZkQpUUPIK9v8o
